# Directorios de entorno virtual
venv/
env/
.env/

# Archivos de bytecode y cache
__pycache__/
*.py[cod]

# Archivos generados por Python
*.egg-info/
dist/
build/

# Archivos de compilacion
*.so

# Archivos test
.pytest_cache/

# Documentacion Sphinx 
docs/build/	

# Archivos de IDE y temporales
*~

# Archivos de registro
*.log
